<mat-card class="example-card">
    <div class="text-style-2">
      <h1 class="text-style-1" style="color: orangered;">ॐ</h1>
    </div>
      <mat-card-content style="text-align: center;">
          <p class="text-style-1" style="color: #0054ad;margin-bottom: 0px;">S/o Smt Radha and Sri Kanthraj</p> <br>
          <h1 class="emboss" style="margin-top: 0px; color:#ff86cb">.・❀・.</h1> <br>
          <h1 class="emboss" style="margin-top: -10px;">Darshan K</h1><br>
          <h1 class="emboss">&</h1><br>
          <h1 class="emboss" style="margin-bottom: 0px;">Mithali S</h1><br>
          <h1 class="emboss" style="margin-bottom: 0px; color:#ff86cb">・. ❀ .・</h1><br>
          <p class="text-style-1" style="color: #0054ad;">D/o Smt Chandra Prabha B V and Sri Sheshkumar S C</p> <br>
          <p class="text-style-1" style="color: #007e21;">together with their families invite you to their wedding celebration.</p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
      <div class="text-style-2">
        <h1 class="text-style-1" style="color: #D43790">⋆༺𓆩 Reception 𓆪༻⋆</h1>
      </div>
      <mat-divider></mat-divider>
      <mat-card-content style="text-align: center;">
          <p class="text-style-1" style="color:#0054ad">27.03.2024, Wednesday 6:30 pm onwards</p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
  </mat-card>
  
  
  <mat-card class="example-card">
    <div class="text-style-2">
      <h1 class="text-style-1" style="color: #D43790">⋆༺𓆩 Muhurtham 𓆪༻⋆</h1>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content style="text-align: center;">
        <p class="text-style-1" style="color: #0054ad;">28.03.2024, Thursday 10:58 am to 11:10 am</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <div class="text-style-2">
      <h1 class="text-style-1" style="color: #D43790">⋆༺𓆩 Location 𓆪༻⋆</h1>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content style="text-align: center;">
        <p class="text-style-1" style="color: #0054ad">Kalanivasthi, K G Lakkenhalli, Lakshmipura post, Dasanpura hobli, Bengaluru, Karnataka - 562162</p>
        <a mat-raised-button style="background-color:#D43790" href="https://maps.app.goo.gl/inGJDtDHTKo3QiBQ9" target="_blank">Click here for Location</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  
  
    
  
