.example-card {
    margin-bottom: 15px;
    background-color: #110118;
    text-align: center;
    border-radius:20px;
    backdrop-filter: blur(10px);
  }
  
  .example-header-image {
    background-size: cover;
  }

  .responsive-image-1{
    max-width: 100%;
    height: auto;
}

.responsive-image-2{
  max-width: 80%;
  height: auto;
}

.responsive-image-3{
  max-width: 15%;
  height: auto;
}


  .main-text{
    color: #D43790;
    -webkit-background-clip: text;
    display: inline-block;
    background-clip: text;
    font-size: 300%;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    text-shadow: 0 -4px 3px rgb(243 243 243 / 88%), 0 3px 4px rgb(81 81 81 / 50%);
     caret-color:#262626;
     outline: none;
  }

  @media screen and(max-width: 768px) {
    .emboss{
        font-size: 16vw;
    }
  }

  @media screen and(max-width: 480px) {
    .emboss{
        font-size: 12vw;
    }
  }

  .trans{
    box-shadow: 0 0 1rem 0 rgba(0,0,0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(15px);
  }

  .text-style-1{
    font-family: 'comic sans MS', cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 0px;
    color: #28302c;
    font-weight: bold;
    text-shadow: 0 -4px 3px rgb(255, 243, 209), 0 3px 4px rgba(0, 0, 0, 0.2);
  }

  .text-style-2{
    display: flex;
    justify-content: center;
    align-items: center;
 }

  
  .emboss{
    color: transparent;
    font-size: 300%;
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
  }

/* ------------------------------------------------------------------------ */


  .trans-color-1{
  background: #03001e;
  font-size: 30px;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  background-image: linear-gradient(to right, #f700ff, #ff00bb, #9900ff, #00e1ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  }

  @media screen and(max-width: 768px) {
    .trans-color{
        font-size: 16vw;
    }
  }

  @media screen and(max-width: 480px) {
    .trans-color{
        font-size: 12vw;
    }
  }

  .trans-color-2{
    background: #03001e;
    font-size: 20px;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #ffd780 30%, #f9c54e 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #ffb100 62.5%, #ffb100 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0px;
    font-weight: bold;
  }

  .golden{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #ffd780 30%, #f9c54e 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #ffb100 62.5%, #ffb100 100%);
    color: #110118;
    font-weight: bold;
  }


